psycopg2-binary
fastapi==0.109.0
uvicorn==0.27.0
starlette==0.35.0
jinja2==3.1.2
aiofiles==23.2.1
python-multipart
pydantic
numpy
gunicorn
sqlalchemy
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0
email-validator==2.1.0.post1
bcrypt==4.0.1
pytest
httpx<0.28